- title t(:invoice_trail)

%p
  = link_to t(:edit), edit_invoice_trail_path(@invoice_trail)
  |
  = link_to t(:delete), @invoice_trail, :confirm => t(:confirm_delete), :method => :delete

%h2
  %strong=h @invoice_trail.full_name

%p
  %strong=t(:admission_date)
  =h @invoice_trail.admission_date
%p
  %strong=t(:admission_code)
  =h @invoice_trail.admission_code
%p
  %strong=t(:gross_amount)
  =h(number_to_currency @invoice_trail.gross_amount)
%p
  %strong=t(:payed_amount)
  =h(number_to_currency @invoice_trail.payed_amount)
%p
  %strong=t(:discount)
  =h(number_to_percentage @invoice_trail.discount)

%h2=@invoice_trail.payed ? t(:payed) : t(:not_payed)

- if @invoice_trail.payed

  %p
    %strong=t(:payment_date)
    =h @invoice_trail.payment_date
  %p
    %strong=t(:invoice_number)
    =h @invoice_trail.invoice_number

- unless @invoice_trail.notes.blank?
  %p
    %strong
      =t(:notes)
    =h @invoice_trail.notes
%p
  %strong= link_to "« #{t(:invoice_trails)}", invoice_trails_path

